@using Coursera.Web.ViewModels.Students

@model SearchStudentInputModel

<h1 class="text-white">Search Student/s</h1>


<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="mb-3 text-black">
                <label asp-for="@Model.PINs" class="form-label">PINS</label>
                <input asp-for="@Model.PINs" class="form-control" aria-required="true" />
                <span asp-validation-for="PINs" class="text-danger"></span>
          
                <label asp-for="@Model.MinCredit" class="form-label">MinCredit</label>
                <input asp-for="@Model.MinCredit" class="form-control" aria-required="true" />
                <span asp-validation-for="MinCredit" class="text-danger"></span>
           

           
                <label asp-for="@Model.StartDate" class="form-label">StartDate</label>
                <input asp-for="@Model.StartDate" class="form-control" aria-required="true" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
           
            
                <label asp-for="@Model.EndDate" class="form-label">EndDate</label>
                <input asp-for="@Model.EndDate" class="form-control" aria-required="true" />
                <span asp-validation-for="EndDate" class="text-danger"></span>


                <label asp-for="@Model.DirectoryPath" class="form-label">DirectoryPath</label>
                <input asp-for="@Model.DirectoryPath" class="form-control" aria-required="true" />
                <span asp-validation-for="DirectoryPath" class="text-danger"></span>


                <select asp-for="@Model.OutputFormat" asp-items="Html.GetEnumSelectList<OutputFormat>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="@Model.OutputFormat" class="text-danger" />



            </div>

            <div class="mb-3">
                <input id="btnSubmit" class="btn btn-primary" type="submit" value="Export" />
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById("btnSubmit").addEventListener("click", function () {
        alert("Success!");
    });
</script>